.form {

    .group {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .checkbox {
        display: flex;
        gap: 5px;
    }
}